.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #091442;
  h1 {
    font-size: 8rem;
    opacity: 0%;
    transform: translateX(-200px);
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}

.main {
    width: 100vw;
    height: auto;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #091442;
    div{
      height: 100vh;
      width: 100vw;
      img {
        position: absolute;
        width: 90vw;
        height: 90vh;
        object-fit: cover;
        margin: 0%;
        padding: 0%;
        opacity: 0%;
        margin: 5vh 5vw;
        transform: translateX(-200px);
      }
      h1 {
        position: relative;
        font-size: 5rem;
        width: fit-content;
        margin: 0;
        right: 0%;
        opacity: 0;
        top: 40vh;
        transform: translateX(80vh);
        color:white
      }
      h2 {
        position: relative;
        font-size: 2rem;
        width: fit-content;
        right: 0%;
        margin: 0;
        top: 40vh;
        opacity: 0;
        transform: translateX(80vh);
        color: white
      }
    }
  }